<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 2</title>
  </head>

<style media="screen">

.inlineblock {
  width:400px;
  border: 5px dotted;
  color: maroon;
  display: inline-block;
  margin-left: 100px;
  margin-top:100px;
}

.orange { color:green}

</style>

  <body>

<div class="inlineblock orange"> development is always offering new opportunities for innovative design. But innovative design always develops in tandem with innovative technology, and can </div>
<div class="inlineblock"> development is always offering new opportunities for innovative design. But innovative design always develops in tandem with innovative technology, and can </div>
<div class="inlineblock"> development is always offering new opportunities for innovative design. But innovative design always develops in tandem with innovative technology, and can </div>



  </body>
</html>
